* {
  box-sizing: border-box;
}

body, html {

  margin: 0;
background-color: #020a1c;
}

h1 {
  margin: 2%;
}

header ul {
  position: absolute;
  left: 47%;
  margin-top: 0.1em;
  top: 1.9em;

}
header li {
  border-radius: 3px;
  display: inline;
  padding: 1em;
  font-size: 1.5em;
  color: white;

}

header li:hover {
  color: #ff8080;
  cursor: pointer;
}



.image-txt {
  max-width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.about {
  box-sizing: border-box;
  background-image: url("./images/codebg1.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50em;
  max-width: 100%;
}

.boxtwo {

  box-sizing: border-box;
  padding: 10%;
  background-image: url("./images/jelvika1.jpg");
  filter: blur(8px);
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50em;
}

/*attribute selector*/
div[class="boxtwo-text"]{
  filter: blur(0px) !important;
}

.boxtwo ~ h2 {
  filter: none;
}

.boxtwo-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%;
    text-align: center;
}



header:first-of-type {
  top: 0.8em;
}

h1 {
  color: cornsilk;
  max-width: 100%;
}

a {
  text-decoration: none;
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 40px;
  bottom: 60%;
  background-color: rgba(255, 250, 250, 0.5);
  background-position: center;

}

[href*=mailto] {
  bottom: 20px;
}

header span {
  font-size: 20px;
  font-stretch: semi-expanded;
  position: relative;
  top: 5%;
  left: 3%;
  letter-spacing: 3px;

}
 span:hover {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier();
  animation-iteration-count: 1;

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#logo {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 0.8em;
   right: 5%;
   left: auto;
   bottom: auto;
}


footer {
  position: fixed;
  left: 0;
  bottom: 4%;
  width: 100%;
  height: 13%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: black;
  opacity: 0.5;
}

footer span:last-of-type {
  color: cornsilk;
  position: absolute;
  left:45%;
  top: 50%;
  transform: translate(-50% -50%);
  letter-spacing: normal;
  font-weight: bolder;
  transform-origin: center;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (max-width:800px){
  h1 {
    font-size: 15px;
  }
  header li {
    font-size: 0.9em;
  }
  #logo {
    width: 50px;
    height: 50px;
  }
  .about {
    max-width: 100%;
    height: 25em;
  }
  .boxtwo {
    max-width: 100%;
    height: 25em;
  }
  .image-txt {
    top: 35%;
  }
  .image-txt > h1 {
    font-size: 15px;
  }
  .image-txt > h3 {
    font-size: 20px;
  }
}

@media screen and (max-width:360px) {
  #logo {
    width: 25px;
    height: 25px;
    right: 3%;
    top: 0.5%;
  }
  header ul {
    left: 30%;
    top: 1%;
  }
  header li {
    font-size: 0.6em;
  }
  h1 {
    font-size: 9px;
  }
  header span {
    font-size: 10px;
  }
}
